<% include common/header.ejs %>

<div class="order-main-container container-fluid">
    <div class="contact-info">
        <h3> 1. Контактні дані</h3>
        <div class="row">
            <div class="col-md-7">
                <form class="form-horizontal">
                    <div class="form-group name-group">
                        <label class="col-sm-2 control-label">Ім'я</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input-name" placeholder="Ім'я та прізвище">
                            <span class="help-block name-help" style="display: none">
                                Введіть тільки власне ім’я, без цифр
                            </span>
                        </div>
                    </div>
                    <div class="form-group phone-group">
                        <label class="col-sm-2 control-label">Телефон</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input-phone" placeholder="+380994010999">
                            <span class="help-block phone-help" style="display: none">
                                Введіть номер телефону у форматі +380 або почніть з 0
                            </span>
                        </div>
                    </div>
                    <div class="form-group address-group">
                        <label class="col-sm-2 control-label">Адреса</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input-address" placeholder="Київ, вул. Спаська, 2">
                            <span class="help-block address-help" style="display: none">
                                Введіть адресу доставки піци
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-5 order-summary">
                <div class="bs-callout bs-callout-warning">
                    <h4>Інформація про замовлення</h4>
                    <div id="order-time">
                        <b>Приблизний час доставки: </b>
                        <span>невідомий</span>
                    </div>
                    <div id="order-address">
                        <b>Адреса доставки: </b>
                        <span>невідома</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="submit-row">
        <a href="#" class="btn btn-warning" id="btn-submit">Далі <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <div id="googleMap"></div>
</div>

<% include common/footer.ejs %>


<!-- Google Maps API -->
<script	type="text/javascript"
           src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC6BY-mTILHf2P5cyPqP887caRFT-tyf70">
</script>

</body>
</html>