
<div class="discount-block">
    <img class="top-border" src="assets/images/discount.svg">
    <div class="content">
        <div class="message-block">ЦЬОГО ТИЖНЯ НА ВСЕ</div>
        <div class="amount">-20%</div>
    </div>
</div>
<footer style="height: 20%;">
    <p>
        Pizza.22 - практичний проект в межах курсу JavaScript в Києво-Могилянській Академії <br/>
        Доставка піци не здійснюється
    </p>
</footer>
<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
